#job-container {
  width: 70%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  gap: 30px;
}

#job-cards-container {
  display: flex;
  width: 60%;
  justify-content: space-evenly;
  margin: 50px auto;
  gap: 5rem;
}

.job-card {
  background-color: #2a6a67;
  width: 350px;
  height: 355px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.job-card h1 {
  color: #ffffff;
  text-align: center;
}

#job-button {
  font-size: 0.9rem;
  padding: 10px 60px;
  cursor: pointer;
  background-color: #ab9765;
  width: 400px;
  text-align: center;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  transition-duration: 300ms;
}

#job-button:hover {
  background-color: #c5ac6d;
}

@media (max-width: 900px) {
  .job-text {
    font-size: 15px;
  }
  .job-card {
    width: auto;
    height: auto;
    padding: 20px;
    font-size: 0.7rem;
  }

  #job-button {
    margin-top: 15px;
    font-size: 0.6rem;
    padding: 10px 40px;
  }
}

/* CELULARES */
@media (max-width: 500px) {
  /* TRILHA */
  .trilha {
    display: none;
  }

  #job-container {
    width: 90%;
  }

  #job-cards-container {
    flex-wrap: wrap;
    margin: 15px auto;
    justify-content: center;
    gap: 60px;
  }

  .job-card {
    width: 200px;
  }

  #job-button {
    font-size: 0.9rem;
    padding: 0.5rem 60px;
    cursor: pointer;
    background-color: #ab9765;
    width: 250px;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    transition-duration: 300ms;
  }
}
