.container-contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  padding: 3rem;
  margin: 3rem;
}

.container-contact-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container-contact-data {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: .8rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 1px solid #ab9765;
  border-radius: 5px;
  font-size: 14px;
}

/* BUTTON */

.btn-contact {
  cursor: pointer;
  border: none;
  padding: 1rem;
  transition-duration: 300ms;
  font-weight: 600;
  border-radius: 0 0 0.5rem 0.5rem;
  color: #d3d3d3;
}

.btn-contact:hover {
  background-color: #2a6a67;
  color: #fff;
}

/* INPUTS */
.input {
  border-radius: 5px;
  width: 400px;
  height: 50px;
  padding: 1.2rem;
  border: none;
  border-left: 4px solid #ab9765;
  background-color: #f4f4f4;
  font-style: italic;
}

.input:focus {
  outline: none; /* Remove a borda ou contorno padrão ao focar */
}

.container-contact-info textarea {
  width: 400px !important;
  background-color: #f4f4f4 !important;
  border-radius: 0px !important;
  margin-bottom: -1rem !important;
  border-left: none;
  height: 150px;
}
/* FIM INPUTS */

/* RESPONSIVIDADE */
@media (max-width: 1000px) {
  
}

@media (max-width: 500px) {
}

/* ANIMACOES */
/* Animação de tremor */
@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

/* Classe que aplica a animação de tremor */
.shake {
  animation: shake 0.5s ease-in-out;
}